# Copy to .env on the GCP VM only. Never commit real keys.
LOG_LEVEL=
BROKER=
PRICE_DATA_SOURCE=
USE_POLYGON_FIRST=
SKIP_YAHOO_FALLBACK=
PRICE_FETCH_BLOCK=
USE_REAL_MONEY=
FORCE_YAHOO_PRICES=
TRAIN_FORCE_YAHOO=
TRAIN_PRIORITIZE=
ENABLE_EARNINGS_FEATURES=
EARNINGS_NEUTRAL_DTE=
ALPACA_API_KEY=
ALPACA_SECRET_KEY=
ALPACA_BASE_URL=
ALPACA_DATA_URL=
POLYGON_API_KEY=
POLYGON_USE_LEVEL2=
FINNHUB_API_KEY=
NEWSAPI_KEY=
NEWSAPI_STATUS_PROBE=
NEWSAPI_PROBE_CACHE_SECONDS=
NEWS_API_PROVIDER=
USE_CRAMER_SIGNAL=
PAPER_SIM_FORCE_YAHOO=
PAPER_SIM_USE_POLYGON=
PAPER_SIM_USE_ALPACA=
PAPER_SIM_YAHOO_MAX_WORKERS=
PAPER_SIM_SAVE_PRICE_CACHE=
PAPER_SIM_MODE=
MIN_MODEL_CONFIDENCE=
FORTRESS_MIN_CONF=
BUY_THRESHOLD=
USE_EXECUTION_CONFIDENCE_GATE=
MIN_EXECUTION_CONFIDENCE=
EXEC_CERTAINTY_GAIN=
EXEC_AGREE_BLEND=
CONFIDENCE_GATE_MODE=
FORTRESS_TOP_RANK_MULT_BASE=
FORTRESS_TOP_RANK_MULT_STEP=
FORTRESS_THESIS_ABORT_LOSS_PCT=
FORTRESS_THESIS_ABORT_CONF_DROP=
LIQUIDATE_MIN_LOSS_PCT=
FORTRESS_IGNORE_SYMPATHY_RISK=
FORTRESS_HOLD_DAYS=
FORTRESS_USE_JP_CANDLES=
FORTRESS_JP_CANDLE_BOOST=
FORTRESS_JP_CANDLE_LOOKBACK=
FORTRESS_JP_MULTI_TF=
FORTRESS_JP_STRONG_BOOST=
FORTRESS_JP_DAILY_CONFIRM_BOOST=
FORTRESS_JP_NOTIONAL_MULT=
JP_CANDLE_RL_ENABLED=
JP_CANDLE_RL_LEARN_RATE=
SWING_BUY_WINDOW_ENABLED=
SWING_HOLD_DAYS_MIN=
SWING_BUY_OPEN_END_ET=
SWING_BUY_CLOSE_START_ET=
USE_NEURAL_ENSEMBLE=
NEURAL_BLEND_WEIGHT=
NEURAL_MAX_DISAGREE_STD=
NEURAL_DISAGREE_MULT=
PAPER_RELAX_CONF_IF_EMPTY=
RANK_W_EXEC_CONF=
RF_CLASS_WEIGHT=
PAPER_SIM_MIN_SCORE=
USE_ASYM_META_FILTER=
LONG_DECISION_THRESHOLD=
SHORT_DECISION_THRESHOLD=
ASYM_REQUIRE_EXEC_CONF=
USE_TRADE_ROTATION=
TRADE_COOLDOWN_HOURS=
TRADE_COOLDOWN_SCORE_MULT=
TRADE_COOLDOWN_SKIP_BUYS=
FAMILY_RESPECT_COOLDOWN=
SCAN_ORDER_MODE=
TRADE_LETTER_DIVERSIFY=
TRADE_MAX_BUYS_PER_LETTER=
TRADE_MAX_HELD_PER_LETTER=
FAMILY_REQUIRE_ASYM_LONG=
AUTOTUNE_POLL_SEC=
AUTOTUNE_PRUNE_DISK=
WATCHDOG_POLL_SEC=
WATCHDOG_BOOTSTRAP=
POLICY_BUY_THRESHOLD_CAP=
POLICY_HUMAN_LOCK=
AUTONOMOUS_MODE=
UNIVERSE_LIFECYCLE_ON_RESUME=
DISK_CLEANUP_LOOP_SEC=
PAPER_KEEP_AWAKE=
CAFFEINATE_FLAGS=
ASYM_REWARD_SCALE=
ASYM_PENALTY_LONG=
ASYM_PENALTY_SHORT=
ASYM_FRICTION=
ASYM_TIME_DECAY=
ASYM_REWARD_CLIP=
USE_ONLINE_UPDATER=
ONLINE_LR=
ONLINE_WEIGHT_CLIP=
ONLINE_REWARD_TO_TARGET_GAIN=
ONLINE_PARAM_CLIP=
UR_LOOKBACK=
UR_MIN_PIVOT_AGE=
UR_PIVOT_WINDOW=
UR_VOL_EXPANSION=
UR_REQUIRE_TREND=
UR_INVALIDATE_PCT=
UR_MAX_BARS_PAST_PIVOT=
RANK_W_UR=
RANK_W_DIP=
DIP_ENABLE_DEEP_PULLBACK=
DIP_DEEP_HIGH_LOOKBACK=
DIP_DEEP_START_FRAC=
DIP_DEEP_SPAN_FRAC=
DIP_DEEP_BEAR_TREND_MULT=
DIP_DEEP_MIX=
DASH_CHART_PERIOD=
ALPACA_LEGACY_PDT_GUARD=
RETRAIN_WEAK_ON_RESUME=
RETRAIN_WEAK_AUTO_IN_TRAINER=
RETRAIN_WEAK_MAX_ROUNDS=
TRAIN_TICKER_TIMEOUT_SEC=
PROPER_TRAIN_TIMEOUT_SEC=
RETRAIN_WEAK_TIMEOUT_SEC=
MAX_SINGLE_ASSET_FRAC=
MAX_TOTAL_EXPOSURE_FRAC=
FORTRESS_MAX_SINGLE_FRAC=
FORTRESS_NOTIONAL_MAX_MULT=
FORTRESS_UNDERDEPLOY_BOOST=
FLATTEN_ON_PAUSE_ALL=
USE_MONTHLY_DRAWDOWN_HALT=
USE_SECTOR_RISK=
SECTOR_MAX_EXPOSURE_FRAC=
FRED_CACHE_SECONDS=
RANK_W_MACRO=
FRED_API_KEY=
FRED_YFINANCE_FALLBACK=
USE_PARALLEL_NEWS_FETCH=
NEWS_FETCH_MAX_WORKERS=
FORTRESS_NEWS_WEIGHT=
API_BUDGET_ENABLED=
INTEL_CACHE_ENABLED=
INTEL_CACHE_HEADLINES_TTL_SEC=
INTEL_CACHE_LLM_TTL_SEC=
SENTIMENT_CACHE_TTL_SEC=
NEWSAPI_SKIP_IF_FINNHUB_HEADLINES=
LLM_ONLY_DURING_SESSION=
API_NEWSAPI_MAX_PER_DAY=
API_LLM_MAX_PER_DAY=
API_FINNHUB_MAX_PER_DAY=
API_CRAMER_NEWSAPI_MAX_PER_DAY=
AUTO_UNPAUSE_TRADING_DAYS=
AUTO_UNPAUSE_ET=
INTEL_WINDOW_START_ET=
INTEL_WINDOW_END_ET=
NEWSAPI_ACTIVE_START_ET=
NEWSAPI_ACTIVE_END_ET=
LLM_INTEL_FROM_PREMARKET=
MORNING_INTEL_PREFETCH=
TRADING_DAY_AUTORUN=
SELF_MAINTENANCE=
SELF_MAINTENANCE_INTERVAL_SEC=
SELF_MAINT_ENHANCE_WEEKLY=
SELF_MAINT_WEAK_RETRAIN=
FORTRESS_ALLOW_DCA=
FORTRESS_DCA_MIN_DIP=
MORNING_PREFETCH_MAX_SYMBOLS=
MORNING_LLM_BATCH=
MORNING_LLM_BATCH_SIZE=
FINNHUB_SENTIMENT_FIRST=
FINNHUB_SKIP_COMPANY_NEWS_IF_SENTIMENT=
INTEL_CACHE_FINNHUB_SENTIMENT_TTL_SEC=
CRAMER_REPLAY_BEFORE_NEWSAPI=
POLYGON_USE_SNAPSHOTS=
INTEL_CACHE_POLYGON_TTL_SEC=
API_POLYGON_MAX_PER_DAY=
API_TAVILY_MAX_PER_DAY=
RL_USE_ASYM_REWARD=
RL_ACTION_SWITCH_FRICTION=
TRAIN_TIME_ORDER_SPLIT=
TRAIN_TEST_FRACTION=
RETRAIN_MIN_TOP20=
AUTO_RETRAIN_LOW_TOP20=
NEWS_SENTIMENT_WATCH=
API_PROBE_SYMBOL=
TRAIN_DATA_START=
USE_TRAIN_SIGNAL_FEATURES=
TRAIN_COMPUTE_UR=
TRAIN_UR_MAX_LOOKBACK_BARS=
TRAIN_KILL_SWITCH_ALL=
FRESH_MODEL_REBUILD=
TRAIN_PURGE_ARTIFACTS=
SHORT_TARGET_HORIZON=
SHORT_MOVE_THRESHOLD=
CALIBRATE_PROBA=
CALIBRATE_METHOD=
CALIBRATE_CV=
ACC_TOP_Q=
USE_AI_TRAINING_GRADER=
TRAIN_STATS_PATH=
OPENAI_API_KEY=
USE_AI_FINAL_PICK_REVIEW=
AI_PICK_LLM_MODEL=
AI_PICK_REVIEW_WEIGHT=
AI_PICK_REJECT_CONF=
AI_PICK_MIN_GRADE_FOR_LONG=
AI_PICK_GRADE_DROP_CONF=
AI_PICK_ALWAYS_DROP_F=
AI_PICK_MAX_SYMBOLS=
AI_PICK_LLM_TIMEOUT_SEC=
AI_PICK_LLM_RETRIES=
AI_PICK_TAVILY_DEPTH=
AI_PICK_TAVILY_MAX_RESULTS=
AI_PICK_TAVILY_MAX_CHARS=
AI_PICK_FALLBACK_IF_ALL_REJECTED=
USE_LLM_SIGNAL=
NEWS_LLM_NO_HEADLINE_FALLBACK=
LLM_MODEL=
FUSION_WEIGHT_BASE=
FUSION_WEIGHT_AUX=
FUSION_WEIGHT_INTEL_TANH=
FUSION_WEIGHT_INSIDER_TANH=
TAVILY_API_KEY=
USE_CLASSIC_QUANT_FEATURES=
TRAIN_CONFIG_TICKERS_ONLY=
USE_TRAIN_NEWS_HISTORY=
PRE_TRADE_NEWS_REFRESH=
PRE_TRADE_NEWS_MIN_HOLD_DAYS=
TRAIN_NEWS_MAX_CALENDAR_DAYS=
TRAIN_NEWS_CHUNK_DAYS=
TRAIN_NEWS_HTTP_PAUSE_SEC=
HEAVY_NEWS_INTEL=
CRAMER_TRANSCRIPT_FILE=
CRAMER_DECAY_HALF_LIFE_DAYS=
RANK_W_CRAMER=
CRAMER_ULTRA_SHORT_CUTOFF_DAYS=
RANK_W_CRAMER_1D=
CRAMER_BOOST_GAIN=
CRAMER_FORCE_HIGH_CONVICTION=
RANK_W_CRAMER_STRONG_BUY_SHARE=
RANK_W_CRAMER_STRONG_BUY_BUMP=
CRAMER_HIGH_CONVICTION_NOTIONAL_MULT=
CRAMER_HOLD_DAYS=
CRAMER_STRONG_MAX_AGE_DAYS=
USE_MORNING_CLUB_INTEL=
MORNING_CLUB_AUTO_INGEST=
MORNING_CLUB_MAX_AGE_HOURS=
MORNING_CLUB_BOOST_GAIN=
USE_CRAMER_AI_ANALYSIS=
CRAMER_AI_BLEND=
CRAMER_AI_HIGH_CONF=
CRAMER_AI_HIGH_BLEND=
CRAMER_AI_ACTION_WEIGHT=
CRAMER_AI_TOP_BUY_MULT=
CRAMER_AI_TOP_BUY_SCORE_MULT=
CRAMER_DAY_BIAS_BLEND=
MORNING_CLUB_AI_CONFIDENCE_MIN=
CRAMER_AI_CACHE_TTL_SEC=
FORTRESS_MORNING_CLUB_BLEND=
DAY_TRADE_CLUB_BLEND=
HFT_MORNING_CLUB_TILT=
USE_CLUB_PROVEN_PICKS=
CLUB_PROVEN_PICK_GAIN=
USE_EARNINGS_CATALYST_BOOST=
EARNINGS_DAY_BOOST=
EARNINGS_EVE_BOOST=
MORNING_CLUB_EARNINGS_MULT=
CLUB_ACTION_TICKERS=
DAY_TRADE_CLUB_SCORE_RELAX=
CRAMER_SYNC_INTERVAL_SEC=
CRAMER_FETCH_ARTICLE_BODIES=
CONVICTION_MAX_PICKS=
CONVICTION_MIN_RANK_SCORE=
DAY_TRADE_CLUB_ADD=
DAY_TRADE_EARNINGS_FLOOR_SCORE=
DAY_TRADE_EARNINGS_BASE=
HOLD_DAYS_DEFAULT=
USE_LSTM_HEAD=
BLEND_LSTM_INTO_META=
LSTM_BLEND_WEIGHT=
LSTM_SEQ_LEN=
LSTM_EPOCHS=
LSTM_LR=
LSTM_BATCH=
LSTM_TRAIN_SCOPE=
LSTM_FINISH_SCOPE=
MODEL_FINISH_TARGET_GB=
USE_UNIFIED_RANK_PIPELINE=
TRAIN_SYMBOLS_FILE=
TRAIN_TOP50_ONLY=
TRAIN_TOP100_ONLY=
UNIVERSE_FETCH_NETWORK=
NETWORK_FIRST=
TRAIN_MISSING_WORKERS=
LSTM_WORKERS=
RETRAIN_WEAK_WORKERS=
INTRADAY_GAP_WORKERS=
EXECUTION_MONITOR_ENABLED=
USE_SOCIAL_SENTIMENT=
STOCKTWITS_TIMEOUT_SEC=
STOCKTWITS_MIN_MSGS=
SOCIAL_BOOST_GAIN=
RANK_W_SOCIAL=
PAPER_SIM_ACTIVE_ONLY=
PAPER_SIM_ACTIVE_MODE=
PAPER_SIM_ACTIVE_MAX=
PAPER_SIM_WORKERS=
PAPER_SIM_POLYGON_MAX_WORKERS=
PAPER_SIM_SKIP_YAHOO_FALLBACK=
POLYGON_MIN_INTERVAL_SEC=
POLYGON_FETCH_RETRIES=
AUTO_PAPER_SIM=
AUTO_PAPER_SIM_MAX_AGE_HOURS=
AUTO_PAPER_SIM_COOLDOWN_SEC=
PAPER_SIM_SCORE_TOP100_FIRST=
PAPER_SIM_RETRY_SKIPPED=
PAPER_SIM_RETRY_MAX=
PAPER_SIM_INCREMENTAL=
PAPER_SIM_INCREMENTAL_MAX_AGE_H=
PAPER_SIM_LOOKBACK_DAYS=
PAPER_SIM_LITE_INTEL=
PAPER_REPORT_MIN_TRADEABLE=
PAPER_REPORT_MIN_TOP100=
PAPER_REPORT_MIN_COVERAGE=
PAPER_REPORT_REQUIRE_USABLE=
PAPER_REPORT_PRUNE_UNUSABLE=
PAPER_SIM_REPORTS_KEEP=
FAMILY_REPORT_MAX_AGE_HOURS=
PAPER_SIM_USE_MODEL_UNIVERSE=
PAPER_SIM_CONFIG_TICKERS_ONLY=
PAPER_SIM_TOP_K=
PAPER_SIM_MIN_CONF=
PAPER_SIM_USE_MTF=
PAPER_SIM_ALLOW_SHORTS=
PAPER_SIM_SHORT_TOP_K=
PAPER_SIM_USE_NOTIONAL=
CHANCE_DISPLAY_MODE=
CHANCE_PCT_FLOOR=
CHANCE_PCT_CEIL=
HORIZON_STRICT_HEADS=
RANK_W_TREND_CLASSIC=
RANK_W_RALLY=
RANK_W_MOM=
FAMILY_MOMENTUM_RANK_SCALE=
RANK_W_PAIR_ARB=
RANK_W_HMM_REGIME=
PAPER_SIM_PAIR_MAP=
PAIR_Z_LOOKBACK=
HMM_REGIME_STATES=
DAY_TRADE_USE_YAHOO=
DAY_TRADE_USE_MODELS=
DAY_TRADE_FULL_UNIVERSE=
DAY_TRADE_MAX_SYMBOLS=
DAY_TRADE_BATCH_SIZE=
DAY_TRADE_TOP_PICKS=
DAY_TRADE_MAX_CONCURRENT=
DAY_TRADE_TICKERS=
SESSION_EQUITY_TARGET_USD=
DAY_TRADE_CASH_OUT_PCT=
DAY_TRADE_MAX_POSITION_PROFIT_PCT=
DAY_TRADE_MODEL_BLEND=
DAY_TRADE_YAHOO_INTERVAL=
DAY_TRADE_YAHOO_PERIOD=
DAY_TRADE_MIN_SCORE=
DAY_TRADE_EXIT_SCORE=
DAY_TRADE_RISK_PER_TRADE_PCT=
DAY_TRADE_MAX_DAILY_LOSS_PCT=
DAY_TRADE_RISK_REWARD=
DAY_TRADE_DEFAULT_STOP_PCT=
DAY_TRADE_SCALP_PROFIT_PCT=
DAY_TRADE_TIME_STOP_MIN=
DAY_TRADE_ORB_MINUTES=
DAY_TRADE_REQUIRE_CANDLE=
DAY_TRADE_MAX_SHARES=
USE_YAHOO_FIRST=
INTRADAY_LOOKBACK_DAYS=
INTRADAY_USE_POLYGON_FALLBACK=
INTRADAY_USE_CACHE=
INTRADAY_GAP_SKIP_CACHED_PLACEHOLDER=
ALPACA_INTRADAY_FEED=
ALPACA_HAS_SIP=
ALPACA_INTRADAY_FEED_ALT=
FORTRESS_LONG_ONLY=
FORTRESS_ALLOW_SHORT_ENTRIES=
HFT_LONG_ONLY=
HYGIENE_LOOP_SEC=
PAPER_HYGIENE_AGGRESSIVE=
FORTRESS_SELL_MAX_P=
PAPER_USE_FORTRESS=
FORTRESS_SCAN_QUALITY_ONLY=
FORTRESS_ACCURACY_MODE=
FORTRESS_LITE_INTEL=
FORTRESS_RELAX_GATES=
FORTRESS_EXPOSURE_USE_BP=
MAX_SINGLE_POSITION_FRAC=
FORTRESS_ALLOW_ADD_ON=
MAX_LIVE_SYMBOLS=
LIVE_SLEEP_SEC=
SENTIMENT_BLOCK_LONG=
USE_MULTI_ALGO_FUSION=
USE_CROWD_BEHAVIOR=
USE_INTEL_FACTORS=
DISABLE_SENTIMENT=
USE_FOUNDATION_FORECAST=
FORTRESS_MIN_SHARE_PRICE=
PAPER_USE_LONGTERM=
LONGTERM_TOP_K=
PAPER_EQUITY=
ALPACA_TIF=
USE_IS_ZERO_EXEC=
USE_AFTER_HOURS=
FORTRESS_AFTER_HOURS=
PAPER_SIM_AFTER_HOURS=
ALPACA_EXTENDED_HOURS=
HFT_EXTENDED_HOURS=
TRADE_SESSION_MODE=
TRADE_EXIT_SESSION_MODE=
HFT_TRADE_SESSION=
TRADE_WEEKDAY_24X5=
HFT_RUN_24X5=
HFT_ROTATOR_MODE=
TRADE_START_ET=
FORTRESS_TRADE_START_ET=
HFT_TRADE_START_ET=
CRAMER_CNBC_TOP10_ENABLED=
CRAMER_CNBC_POLL_START_ET=
CRAMER_CNBC_POLL_END_ET=
CRAMER_CNBC_POLL_INTERVAL_SEC=
TRADE_END_ET=
TRADE_BLOCK_EXITS_UNTIL_START=
MONDAY_PLAYBOOK_PATH=
MONDAY_PREP_MAX_PREORDERS=
FRIDAY_BRIDGE_ENABLED=
FRIDAY_BRIDGE_DRY_RUN=
FRIDAY_BRIDGE_MAX_BUYS=
FRIDAY_BRIDGE_MAX_SYMBOLS=
FRIDAY_BRIDGE_CLOSE_HOUR=
FRIDAY_BRIDGE_CLOSE_MIN=
FRIDAY_BRIDGE_SKIP_HELD=
TICK_SIZE=
ALPACA_REST_CACHE_SEC=
EXECUTION_MONITOR_INTERVAL_SEC=
HFT_MAX_NOTIONAL_MULT=
MIDDAY_HFT_ONLY=
MIDDAY_HFT_START_ET=
MIDDAY_HFT_END_ET=
HFT_JP_CANDLE_ONLY=
HFT_OBI_ENABLED=
HFT_JP_FIRE_ON_CLOSE=
HFT_DIP_SCALP=
HFT_JP_REVERSAL_TREND=
HFT_JP_ULTRA=
HFT_OR_SIGNAL=
HFT_STRICT_DUAL_SIGNAL=
HFT_MIN_DUAL_STRENGTH=
HFT_MIN_OBI_STRENGTH=
HFT_MR_MIN_OBI_LONG=
HFT_CANDLE_MS=
HFT_MR_DIP_PCT=
HFT_MR_EXIT_MS=
HFT_EXIT_ON_GREEN=
HFT_INSTANT_GREEN_EXIT=
HFT_GREEN_EXIT_MIN_TICKS=
HFT_ENTRY_BACKOFF_MS=
FORTRESS_COOLDOWN_SOURCES=
HFT_MR_REST_EXTENDED=
HFT_MR_REST_MIN_OBI_LONG=
HFT_MR_REST_DIP_EVERY_N=
HFT_MR_REST_DIP_PCT=
HFT_REST_POLL_ALL_SYMS=
HFT_REST_POLL_MS=
HFT_REST_POLL_ALWAYS=
HFT_REST_POLL_QUIET_N=
HFT_REST_QUOTE_MAX_BPS=
HFT_REST_LOG_VERBOSE=
HFT_REQUIRE_PROFIT_CUSHION=
HFT_PROFIT_CUSHION_MIN_PCT=
FORTRESS_EARNED_SELL_PCT=
HFT_FLATTEN_SLIP_BPS=
HFT_REQUIRE_EXIT_PROFIT=
HFT_FLATTEN_CLOSE_POSITION=
HFT_USE_MARKET_ORDERS=
OBI_TRIGGER_LONG=
OBI_TRIGGER_SHORT=
ALPACA_MIN_EXIT_PROFIT_BPS=
ALPACA_RTH_PREFER_LIMIT=
HFT_MR_STOP_PCT=
HFT_MIN_EXIT_PROFIT_BPS=
HFT_BUY_LOW=
HFT_AGGRESSIVE_ENTRY=
HFT_MICRO_MIN_UP_PROB=
HFT_MAX_SPREAD_BPS=
HFT_REST_MAX_SPREAD_BPS=
HFT_BP_RESERVE_USD=
HFT_MR_REST_MIN_GAP_MS=
HFT_MARGIN_REFRESH_MS=
HFT_MR_MAX_HOLD_MS=
HFT_CANCEL_EXIT_UNFILLED=
HFT_EXIT_FILL_MS=
HFT_FLATTEN_ORPHANS=
HFT_ORPHAN_RECONCILE_MS=
HFT_ORPHAN_COOLDOWN_MS=
HFT_ORDER_FILL_MS=
HFT_STALE_ORDER_SWEEP_MS=
HFT_STALE_ORDER_MAX_AGE_MS=
HFT_MR_REQUIRE_PATTERN=
HFT_MR_REST_REQUIRE_PATTERN=
HFT_MARGIN_GUARD=
HFT_MIN_BUYING_POWER_USD=
HFT_BP_USE_FRAC=
HFT_USE_BP_SIZING=
HFT_MAX_CONCURRENT_SLOTS=
HFT_MAX_ORDER_NOTIONAL=
HFT_MAX_QUOTE_AGE_MS=
HFT_MAX_MID_SHOCK_BPS=
HFT_MIN_EQUITY_TO_MM_RATIO=
HFT_NEWS_GATE=
HFT_NEWS_REFRESH_MIN=
HFT_NEWS_WATCH_POLL_SEC=
HFT_NEWS_BLOCK_BAD=
HFT_NEWS_TILT_SCALE=
HFT_NEWS_TILT_CAP=
FORTRESS_NEWS_RANK_W=
FORTRESS_NEWS_MAX_P_IMPULSE=
FORTRESS_NEWS_P_IMPULSE_SCALE=
USE_NEWS_AI_AGENT=
ALPACA_STALE_CLOSE_ORDER_SEC=
HFT_MAX_IN_FLIGHT_ORDERS=
HFT_ULTRA_MODE=
HFT_SKIP_LATENCY_BUDGET=
HFT_MAX_HOLD_MS=
OBI_MICRO_STOP_TICKS=
PAPER_RELAX_ALGO_RISK=
EARN_TICKER_WHITELIST=
EARN_SURPRISE_PCT_TRIGGER=
EARN_NOTIONAL_USD=
EARN_LIMIT_TICK_OFFSET=
EARN_BUDGET_LATENCY_MS=
EARN_VWAP_WINDOW_MS=
EARN_FILL_DEADLINE_MS=
OBI_TICKER_WHITELIST=
HFT_REST_TICKERS=
HFT_MAX_SYMBOL_QTY=
PAPER_HYGIENE_OBI_SCOPE=
TAPE_VELOCITY_WINDOW_MS=
TAPE_BASELINE_WINDOW_MS=
TAPE_VELOCITY_MULTIPLIER=
OBI_NOTIONAL_USD=
OBI_BUDGET_LATENCY_MS=
SAVE_REPLAY_FEATURES=
USE_REPLAY_RAW_FIRST=
USE_PRICE_CACHE=
MODEL_BUNDLE_CACHE_SIZE=
FEATURE_BUILD_CACHE=
FEATURE_BUILD_CACHE_TTL_SEC=
NEURAL_MODEL_CACHE=
DATA_SYNC_SAVE_RAW=
INTRADAY_SKIP_PLACEHOLDER_DISK=
PRUNE_INTRADAY_BARS=
USE_BOTTOM_FISHER=
BOTTOM_FISHER_PAPER_BOOST=
BOTTOM_FISHER_PERCENTILE=
BOTTOM_FISHER_MAX_SCAN=
BOTTOM_FISHER_MIN_RECOVERY=
BOTTOM_FISHER_USE_AI=
BOTTOM_FISHER_USE_NEWS=
BOTTOM_FISHER_WATCH_SEC=
BOTTOM_FISHER_WATCH_ON_RESUME=
RANK_W_BOTTOM_FISHER=
BOTTOM_FISHER_POLICY_ENABLED=
ENHANCE_SKIP_LSTM_JUNK=
AI_IPO_AUTOPILOT=
AI_IPO_BOOTSTRAP_ON_RESUME=
AI_IPO_PROXY_FORCE_BUY=
AI_IPO_PROXY_MIN_P_UP=
AI_IPO_PROXY_SCORE_BOOST=
AI_IPO_PROXY_TICKERS=
IPO_TRAIN_ON_WATCH=
IPO_TRAIN_BATCH=
TOP100_TRAIN_TIMEOUT_SEC=
DEFER_SECONDARY_TRAIN=
PORTFOLIO_SLOT_BUDGET=
PORTFOLIO_MAX_TOTAL=
FORTRESS_UNDERDEPLOY_BOOST_CAP=
DAY_TRADE_PROMOTE_TO_FORTRESS=
DAY_TRADE_PROMOTE_MIN_PNL_PCT=
FORTRESS_PROMOTE_SCORE_BOOST=
USE_HEDGE_FUND_STACK=
RANK_W_HEDGE_FUND=
HF_W_MOMENTUM=
HF_W_VALUE=
HF_W_QUALITY=
HF_W_SIZE=
HF_W_TREND=
HF_W_STAT_ARB=
HF_W_ETF_DISLOC=
HF_W_MEAN_REV=
HF_W_MARKET_NEUTRAL=
HF_W_LIQUIDITY_MM=
HF_MAX_SECTOR_FRAC=
HF_MAX_GROSS_FRAC=
HF_LONG_SHORT_EQUITY=
SELF_IMPROVE_ENABLED=
SELF_IMPROVE_USE_LLM=
SELF_IMPROVE_ON_AUTOTUNE=
SELF_IMPROVE_BEAT_MARKET_MODE=
SELF_IMPROVE_ALWAYS_MUTATE=
SELF_IMPROVE_BENCHMARK=
SELF_IMPROVE_BENCHMARK_DAYS=
SELF_IMPROVE_ALPHA_TARGET=
SELF_IMPROVE_POLL_SEC=
SELF_IMPROVE_MIN_INTERVAL_SEC=
SELF_IMPROVE_LOSING_INTERVAL_SEC=
SELF_IMPROVE_HUMAN_LOCK=
POLICY_AGENT_ENABLED=
POLICY_REQUIRE_SHADOW=
POLICY_MAX_NOTIONAL=
CORTEX_ENABLED=
CORTEX_POLL_SEC=
CORTEX_LEARN_RATE=
CORTEX_BLEND_WEIGHT=
CORTEX_LIVE_FORWARD=
CORTEX_MOTOR_GAIN=
CORTEX_LAW_GAIN=
CORTEX_EVOLVE_URGE_THRESHOLD=
CORTEX_MEMORY_MAX=
AGI_AGENT_ENABLED=
AGI_PRIMARY_OBJECTIVE=
AGI_ALWAYS_IMPROVE=
AGI_MIN_INTERVAL_SEC=
AGI_HUMAN_LOCK=
AGI_CUSTOM_HOOKS_ENABLED=
AGI_CODE_MAX_BYTES=
FREE_AGENT_ENABLED=
FREE_AGENT_USE_LLM=
FREE_AGENT_POLL_SEC=
FREE_AGENT_MIN_INTERVAL_SEC=
FREE_AGENT_MAX_ACTIONS_PER_STEP=
FREE_AGENT_NEURAL_TICKERS=
FREE_AGENT_STEP_TIMEOUT_SEC=
FREE_AGENT_ALLOW_HEAVY_TRAIN=
FREE_AGENT_MIN_AVAIL_GB=
HFT_MICROSTRUCTURE_PROB=
HFT_W_OBI_PROB=
HFT_W_TAPE_PROB=
HFT_W_MOMENTUM_PROB=
HFT_W_SPREAD_PROB=
HFT_W_PAIR_PROB=
HFT_W_NEWS_PROB=
HFT_MR_EDGE_COST_GATE=
HFT_MR_EDGE_COST_MULT=
HFT_FEE_BPS=
HFT_MR_MIN_HOLD_MS=
HFT_OBI_MIN_HOLD_MS=
HFT_MR_ROUNDTRIP_COOLDOWN_MS=
HFT_EARNED_DEBOUNCE_MS=
HFT_EARNED_EXIT_MS=
USE_STRUCTURE_PATTERNS=
RANK_W_STRUCTURE=
STRUCTURE_LOOKBACK=
STRUCTURE_CANDLE_SHRINK=
STRUCTURE_MIN_ABS=
STRUCTURE_ALLOW_ORPHAN_CANDLES=
FORTRESS_USE_VECTORIZED_WEIGHTS=
FORTRESS_WEIGHT_TEMPERATURE=
FORTRESS_VEC_MIN_SCORE=
HARD_MAX_ORDER_NOTIONAL=
EXIT_TIMEOUT_MIN=
SLIPPAGE_AUDIT=
SLIPPAGE_AUDIT_WARN_BPS=
ALPACA_CLOCK_GATE=
ALPACA_REST_RETRIES=
USE_SEQUENCE_DISCOVER=
SEQUENCE_ALLOW_CONTRA=
KEEP_STACK_ALWAYS_ONLINE=
ONLINE_INSTALL_LAUNCHD=
ONLINE_TRAIN_TOP50=
FORTRESS_HANG_WATCH=
FORTRESS_HANG_IDLE_SEC=
FORTRESS_DAEMON_IDLE_SEC=
FORTRESS_DAEMON_MAX_SEC=
POLYGON_MAX_BLOCK_SEC=
CORTEX_LIVE_IN_FORTRESS=
BEAT_MARKET_CACHE_SEC=
POLYGON_HTTP_TIMEOUT_SEC=
CRAMER_PM_BOOST_GAIN=
CRAMER_PM_ALLOW_YESTERDAY=
CRAMER_PM_INGEST_CLUB=
FORTRESS_CRAMER_BLEND=
USE_VALUE_INVESTING=
RANK_W_VALUE=
VALUE_IV_DISCOUNT_RATE=
VALUE_IV_PERP_GROWTH=
VALUE_IV_NEAR_GROWTH=
VALUE_IV_YEARS=
VALUE_BOOST_GAIN=
VALUE_BOOST_CAP=
USE_INVESTING_BOOK=
RANK_W_BOOK=
BOOK_BOOST_GAIN=
BOOK_BOOST_CAP=
BOOK_W_GROWTH=
BOOK_W_INCOME=
BOOK_W_QUANT=
BOOK_W_TECHNICAL=
BOOK_USE_TECHNICAL=
MIN_ORDER_NOTIONAL=
PAPER_SIM_DEPLOY_FRAC=
CANCEL_STALE_BUY_ORDERS_SEC=
FORTRESS_LOOP_PAUSE_SEC=
FORTRESS_DISABLE_SIGNAL_EXIT=
FORTRESS_TAKE_PROFIT_PCT=
FORTRESS_STOP_LOSS_PCT=
FORTRESS_MIN_HOLD_MINUTES=
FORTRESS_ALLOW_OVERNIGHT=
FLATTEN_AT_CLOSE=
FORTRESS_EXIT_TIMEOUT_MIN=
FORTRESS_OVERNIGHT_EXIT_TIMEOUT_MIN=
FORTRESS_STAGNANT_ABS_PCT=
FORTRESS_TOP_BUYS_PER_PASS=
FORTRESS_MAX_POSITIONS=
FORTRESS_BP_USE_FRAC=
FORTRESS_TARGET_DEPLOY_FRAC=
FORTRESS_JP_CANDLE_REQUIRE_BULL=
ALPACA_AGGRESSIVE_ENTRY=
ALPACA_LIMIT_SLIP_BPS=
ALPACA_BUY_LOW=
HFT_SIM_BROKER=
HFT_DRY_RUN=
HFT_GLOBAL_KILL=
HFT_TAKE_PROFIT_TICKS=
HFT_MIN_ORDER_NOTIONAL=
HFT_MIN_CONFIDENCE=
HFT_ENTRY_FILL_MS=
HFT_CANCEL_ENTRY_UNFILLED=
HFT_PER_TICKER_COOLDOWN_MS=
HFT_MR_DEBOUNCE_MS=
DAY_TRADE_EXIT_OWN_ONLY=
DAY_TRADE_FLATTEN_AT_CLOSE=
DAY_TRADE_MODE=
DAY_TRADE_POLL_SEC=
MONTHLY_DRAWDOWN_HALT_PCT=
USE_CRAMER_POST_MARKET=
CRAMER_AUTO_FETCH_ONLINE=
CRAMER_PM_SYNC_INTERVAL_SEC=
CRAMER_PM_ALWAYS=
ORDER_NOTIONAL=
MAX_ORDER_NOTIONAL=
FORTRESS_GO_LIVE_MAX_NOTIONAL=
MICRO_SCALP_ENABLED=
MICRO_SCALP_TARGET_BPS=
MICRO_SCALP_STOP_BPS=
MICRO_SCALP_DRY_RUN=
PURE_MATH_PIVOT=
MATH_PIVOT_MATH_MULT=
MATH_PIVOT_NEWS_MULT=
OPERATOR_DOC_ID=
OPERATOR_DOC_POLL_SEC=
MATH_P_UP_FLOOR=
PAPER_SIM_ALLOW_OFFHOURS=
TALK_ALLOW_EDITS=
FORTRESS_W_EDGE=
FORTRESS_W_EXEC=
FORTRESS_W_SENT=
RANK_W_UNIQUE=
UNIQUE_RANK_CAP=
HF_LOCK_ETF_DISLOC_ZERO=
HF_LOCK_LIQUIDITY_MM_ZERO=
FORTRESS_INDEX_SOFT_TRIM=
FORTRESS_OVERNIGHT_HOLD=
PRED_FORCE_SCORE_BOOST=
EARNINGS_STICK_SCORE_BOOST=
LSTM_REQUEUE_WEAK=
LSTM_MIN_TEST_ACC=
PRUNE_BOTTOM_JUNK_ON_WATCH=
HFT_GLOBAL_MAX_ORDERS_PER_MIN=
HFT_MAX_ORDERS_PER_MIN=
HFT_MAX_ORDERS_PER_SEC=
HFT_COEXIST=
EARNINGS_COEXIST_WITH_OBI=
USE_BUYING_POWER=
MAX_GROSS_LEVERAGE=
FORTRESS_MAX_GROSS_FRAC=
FORTRESS_TARGET_DEPLOY_USE_EQUITY=
FORTRESS_SINGLE_CAP_USE_EQUITY=
HFT_ADOPT_BROKER_LEGS=
DAY_TRADE_MAX_NOTIONAL=
MICRO_SCALP_MAX_NOTIONAL=
HFT_LIMIT_TIF=
ALPACA_ORDERS_PER_MIN_SOFT=
ALPACA_MAX_OPEN_ORDERS=
MICRO_SCALP_ENTRY_TIMEOUT_MS=
MICRO_SCALP_ENTRY_TIF=
